/* Apply style to the whole page */
body {
  background-color: rgb(230, 22, 150);
  font-family: Arial, sans-serif;
}

/* Style for a heading */
h1 {
  color: rgb(19, 139, 0);
  text-align: center;
}

/* Style for a paragraph */
p {
  color: rgb(45, 145, 233);
  font-size: 16px;
}
